
<div class="container">
    <div style="border-bottom: 1px solid #eeeeee;">
        <p>Name : {{mainController.userDetails.firstName}}</p>

        <p>Leave Balance : {{mainController.userDetails.leaveBalance}}</p>

    </div>
    <h3>Leave History</h3>
    <table class="table table-responsive table-bordered" style="margin-top:20px;">
        <thead>
            <tr>
                <th>From Date</th>
                <th>To Date</th>
                <th>Leave Type</th>
                <th>Working Days</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>01-OCT-2016</td>
                <td>05-OCT-2016</td>
                <td>Personal</td>
                <td>3</td>
                <td>Approved</td>
            </tr>
            <tr>
                <td>26-SEP-2016</td>
                <td>27-SEP-2016</td>
                <td>Sick</td>
                <td>2</td>
                <td>Approved</td>
            </tr>
        </tbody>
    </table>

</div>