.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle {
    border-color: white;
}


.footer-div {
    background: #ff6e00;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 30px;
    padding: 5px;
    height: 50px;
}

.footer-div-text {
    font-size: 14px;
    color: #fff;
    margin-left: 40%;
    margin-bottom: 10px;
}

.feedback-icon {
    font-size: 29px;
}


.vertical-text {
    transform: rotate(90deg);
    position: fixed;
    right: -32px;
    bottom: 100px;
    width: 100px;
    height: 38px;
    border: 1px solid red;
    border-radius: 5px;
    z-index: 10;
    color: white;
    font-size: 15px;
    background-color: #ff6e00;
}

    .vertical-text div {
        padding: 6px 10px 10px 13px;
        font-size: 16px;
    }

.btn-primary, .btn-primary:hover {
    background-color: #ff6e00;
    border-color: #ff6e00;
}

.font-color {
    color: #ff6e00;
}

label {
    margin-bottom: 10px!important;
}

.custom-nav {
    height: auto;
    background-color: #ff6e00;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #ff6e00;
    margin-bottom: 0;
    font-size: 15px;
}

.brand-image {
    width: 125px;
    margin-left: 15px;
}

.login-button {
    margin-top : 10px;
}

.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}